# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of `JOIN` statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
* Write SQL queries that make use of various types of joins
* Compare and contrast the various types of joins
* Discuss how primary and foreign keys are used in SQL
* Decide and perform whichever type of join is best for retrieving desired data

## CRM Schema

In almost all cases, rather than just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins** using shared columns from the two tables. 

In this lab, you'll use the same customer relationship management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
import sqlite3
import pandas as pd

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [3]:
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Are there any offices that have zero employees?
Hint: Combine the employees and offices tables and use a group by.

In [19]:
cur.execute('''SELECT * FROM offices JOIN employees USING(officeCode)
               GROUP BY officeCode
               HAVING COUNT(employeeNumber)=0;''').fetchall()

[]

## Write 3 Questions of your own and answer them

In [25]:
# Answers will vary
# Example: Display the htmlDescription and employee's first and last name for each product that each employee has sold
cur.execute('''SELECT htmlDescription, firstName, lastName, productName FROM employees 
               JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
               JOIN orders USING(customerNumber) 
               JOIN orderdetails USING(orderNumber) 
               JOIN products USING(productCode)
               JOIN productlines USING(productLine)
               GROUP BY productCode;''').fetchall()

[('', 'Leslie', 'Jennings', '1969 Harley Davidson Ultimate Chopper'),
 ('', 'Leslie', 'Jennings', '1952 Alpine Renault 1300'),
 ('', 'Leslie', 'Jennings', '1996 Moto Guzzi 1100i'),
 ('', 'Leslie', 'Jennings', '2003 Harley-Davidson Eagle Drag Bike'),
 ('', 'Leslie', 'Jennings', '1972 Alfa Romeo GTA'),
 ('', 'Leslie', 'Jennings', '1962 LanciaA Delta 16V'),
 ('', 'Leslie', 'Jennings', '1968 Ford Mustang'),
 ('', 'Leslie', 'Jennings', '2001 Ferrari Enzo'),
 ('', 'Leslie', 'Jennings', '1958 Setra Bus'),
 ('', 'Leslie', 'Jennings', '2002 Suzuki XREO'),
 ('', 'Leslie', 'Jennings', '1969 Corvair Monza'),
 ('', 'Leslie', 'Jennings', '1968 Dodge Charger'),
 ('', 'Leslie', 'Jennings', '1969 Ford Falcon'),
 ('', 'Leslie', 'Jennings', '1970 Plymouth Hemi Cuda'),
 ('', 'Leslie', 'Jennings', '1957 Chevy Pickup'),
 ('', 'Leslie', 'Jennings', '1969 Dodge Charger'),
 ('', 'Leslie', 'Jennings', '1940 Ford Pickup Truck'),
 ('', 'Leslie', 'Jennings', '1993 Mazda RX-7'),
 ('', 'Leslie', 'Jennings', '1937 Lincoln Berline'),
 ('', 'Leslie', 'Jennings', '1936 Mercedes-Benz 500K Special Roadster'),
 ('', 'Leslie', 'Jennings', '1965 Aston Martin DB5'),
 ('', 'Leslie', 'Jennings', '1980s Black Hawk Helicopter'),
 ('', 'Leslie', 'Jennings', '1917 Grand Touring Sedan'),
 ('', 'Leslie', 'Jennings', '1948 Porsche 356-A Roadster'),
 ('', 'Leslie', 'Jennings', '1995 Honda Civic'),
 ('', 'Leslie', 'Jennings', '1998 Chrysler Plymouth Prowler'),
 ('', 'Leslie', 'Jennings', '1911 Ford Town Car'),
 ('', 'Leslie', 'Jennings', '1964 Mercedes Tour Bus'),
 ('', 'Leslie', 'Jennings', '1932 Model A Ford J-Coupe'),
 ('', 'Leslie', 'Jennings', '1926 Ford Fire Engine'),
 ('', 'Leslie', 'Jennings', 'P-51-D Mustang'),
 ('', 'Leslie', 'Jennings', '1936 Harley Davidson El Knucklehead'),
 ('', 'Leslie', 'Jennings', '1928 Mercedes-Benz SSK'),
 ('', 'Leslie', 'Jennings', '1999 Indy 500 Monte Carlo SS'),
 ('', 'Leslie', 'Jennings', '1913 Ford Model T Speedster'),
 ('', 'Leslie', 'Jennings', '1934 Ford V8 Coupe'),
 ('', 'Leslie', 'Jennings', '1999 Yamaha Speed Boat'),
 ('', 'Leslie', 'Jennings', '18th Century Vintage Horse Carriage'),
 ('', 'Leslie', 'Jennings', '1903 Ford Model A'),
 ('', 'Leslie', 'Jennings', '1992 Ferrari 360 Spider red'),
 ('', 'Leslie', 'Jennings', 'Collectable Wooden Train'),
 ('', 'Leslie', 'Jennings', '1969 Dodge Super Bee'),
 ('', 'Leslie', 'Jennings', '1917 Maxwell Touring Car'),
 ('', 'Leslie', 'Jennings', '1976 Ford Gran Torino'),
 ('', 'Leslie', 'Thompson', '1948 Porsche Type 356 Roadster'),
 ('', 'Leslie', 'Jennings', '1957 Vespa GS150'),
 ('', 'Leslie', 'Jennings', '1941 Chevrolet Special Deluxe Cabriolet'),
 ('', 'Leslie', 'Jennings', '1970 Triumph Spitfire'),
 ('', 'Leslie', 'Jennings', '1932 Alfa Romeo 8C2300 Spider Sport'),
 ('', 'Leslie', 'Jennings', '1904 Buick Runabout'),
 ('', 'Leslie', 'Jennings', '1940s Ford truck'),
 ('', 'Leslie', 'Jennings', '1939 Cadillac Limousine'),
 ('', 'Leslie', 'Jennings', '1957 Corvette Convertible'),
 ('', 'Leslie', 'Jennings', '1957 Ford Thunderbird'),
 ('', 'Leslie', 'Jennings', '1970 Chevy Chevelle SS 454'),
 ('', 'Leslie', 'Jennings', '1970 Dodge Coronet'),
 ('', 'Leslie', 'Jennings', '1997 BMW R 1100 S'),
 ('', 'Leslie', 'Jennings', '1966 Shelby Cobra 427 S/C'),
 ('', 'Leslie', 'Jennings', '1928 British Royal Navy Airplane'),
 ('', 'Leslie', 'Jennings', '1939 Chevrolet Deluxe Coupe'),
 ('', 'Leslie', 'Jennings', '1960 BSA Gold Star DBD34'),
 ('', 'Leslie', 'Jennings', '18th century schooner'),
 ('', 'Leslie', 'Jennings', '1938 Cadillac V-16 Presidential Limousine'),
 ('', 'Leslie', 'Jennings', '1962 Volkswagen Microbus'),
 ('', 'Leslie', 'Jennings', '1982 Ducati 900 Monster'),
 ('', 'Leslie', 'Jennings', '1949 Jaguar XK 120'),
 ('', 'Leslie', 'Jennings', '1958 Chevy Corvette Limited Edition'),
 ('', 'Leslie', 'Jennings', '1900s Vintage Bi-Plane'),
 ('', 'Leslie', 'Jennings', '1952 Citroen-15CV'),
 ('', 'Leslie', 'Jennings', '1982 Lamborghini Diablo'),
 ('', 'Leslie', 'Jennings', '1912 Ford Model T Delivery Wagon'),
 ('', 'Leslie', 'Jennings', '1969 Chevrolet Camaro Z28'),
 ('', 'Leslie', 'Jennings', '1971 Alpine Renault 1600s'),
 ('', 'Leslie', 'Jennings', '1937 Horch 930V Limousine'),
 ('', 'Leslie', 'Jennings', '2002 Chevy Corvette'),
 ('', 'Leslie', 'Jennings', '1940 Ford Delivery Sedan'),
 ('', 'Leslie', 'Jennings', '1956 Porsche 356A Coupe'),
 ('', 'Leslie', 'Jennings', 'Corsair F4U ( Bird Cage)'),
 ('', 'Leslie', 'Jennings', '1936 Mercedes Benz 500k Roadster'),
 ('', 'Leslie', 'Jennings', '1992 Porsche Cayenne Turbo Silver'),
 ('', 'Leslie', 'Jennings', '1936 Chrysler Airflow'),
 ('', 'Leslie', 'Jennings', '1900s Vintage Tri-Plane'),
 ('', 'Leslie', 'Jennings', '1961 Chevrolet Impala'),
 ('', 'Leslie', 'Jennings', '1980â€™s GM Manhattan Express'),
 ('', 'Leslie', 'Jennings', '1997 BMW F650 ST'),
 ('', 'Leslie', 'Jennings', '1982 Ducati 996 R'),
 ('', 'Leslie', 'Jennings', '1954 Greyhound Scenicruiser'),
 ('', 'Leslie', 'Jennings', "1950's Chicago Surface Lines Streetcar"),
 ('', 'Leslie', 'Jennings', '1996 Peterbilt 379 Stake Bed with Outrigger'),
 ('', 'Leslie', 'Jennings', '1928 Ford Phaeton Deluxe'),
 ('', 'Leslie', 'Jennings', '1974 Ducati 350 Mk3 Desmo'),
 ('', 'Leslie', 'Jennings', '1930 Buick Marquette Phaeton'),
 ('', 'Leslie', 'Jennings', 'Diamond T620 Semi-Skirted Tanker'),
 ('', 'Leslie', 'Jennings', '1962 City of Detroit Streetcar'),
 ('', 'Leslie', 'Jennings', '2002 Yamaha YZR M1'),
 ('', 'Leslie', 'Jennings', 'The Schooner Bluenose'),
 ('', 'Leslie', 'Jennings', 'American Airlines: B767-300'),
 ('', 'Leslie', 'Jennings', 'The Mayflower'),
 ('', 'Leslie', 'Jennings', 'HMS Bounty'),
 ('', 'Leslie', 'Jennings', 'America West Airlines B757-200'),
 ('', 'Leslie', 'Thompson', 'The USS Constitution Ship'),
 ('', 'Leslie', 'Jennings', '1982 Camaro Z28'),
 ('', 'Leslie', 'Jennings', 'ATA: B757-300'),
 ('', 'Leslie', 'Jennings', 'F/A 18 Hornet 1/72'),
 ('', 'Leslie', 'Jennings', 'The Titanic'),
 ('', 'Leslie', 'Jennings', 'The Queen Mary'),
 ('', 'Leslie', 'Jennings', 'American Airlines: MD-11S'),
 ('', 'Leslie', 'Jennings', 'Boeing X-32A JSF'),
 ('', 'Leslie', 'Jennings', 'Pont Yacht')]

In [ ]:
# Your code here
cur.execute('''SELECT * FROM offices JOIN employees USING(officeCode)
               GROUP BY officeCode
               HAVING COUNT(employeeNumber)=0;''').fetchall()

In [ ]:
# Your code here
cur.execute('''SELECT * FROM offices JOIN employees USING(officeCode)
               GROUP BY officeCode
               HAVING COUNT(employeeNumber)=0;''').fetchall()

In [ ]:
# Your code here

## Level Up: Display the names of every individual product that each employee has sold

In [26]:
cur.execute('''SELECT productName FROM employees 
               JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
               JOIN orders USING(customerNumber) 
               JOIN orderdetails USING(orderNumber) 
               JOIN products USING(productCode)
               GROUP BY productCode;''').fetchall()

[('1969 Harley Davidson Ultimate Chopper',),
 ('1952 Alpine Renault 1300',),
 ('1996 Moto Guzzi 1100i',),
 ('2003 Harley-Davidson Eagle Drag Bike',),
 ('1972 Alfa Romeo GTA',),
 ('1962 LanciaA Delta 16V',),
 ('1968 Ford Mustang',),
 ('2001 Ferrari Enzo',),
 ('1958 Setra Bus',),
 ('2002 Suzuki XREO',),
 ('1969 Corvair Monza',),
 ('1968 Dodge Charger',),
 ('1969 Ford Falcon',),
 ('1970 Plymouth Hemi Cuda',),
 ('1957 Chevy Pickup',),
 ('1969 Dodge Charger',),
 ('1940 Ford Pickup Truck',),
 ('1993 Mazda RX-7',),
 ('1937 Lincoln Berline',),
 ('1936 Mercedes-Benz 500K Special Roadster',),
 ('1965 Aston Martin DB5',),
 ('1980s Black Hawk Helicopter',),
 ('1917 Grand Touring Sedan',),
 ('1948 Porsche 356-A Roadster',),
 ('1995 Honda Civic',),
 ('1998 Chrysler Plymouth Prowler',),
 ('1911 Ford Town Car',),
 ('1964 Mercedes Tour Bus',),
 ('1932 Model A Ford J-Coupe',),
 ('1926 Ford Fire Engine',),
 ('P-51-D Mustang',),
 ('1936 Harley Davidson El Knucklehead',),
 ('1928 Mercedes-Benz SSK',),
 ('1999 Indy 500 Monte Carlo SS',),
 ('1913 Ford Model T Speedster',),
 ('1934 Ford V8 Coupe',),
 ('1999 Yamaha Speed Boat',),
 ('18th Century Vintage Horse Carriage',),
 ('1903 Ford Model A',),
 ('1992 Ferrari 360 Spider red',),
 ('Collectable Wooden Train',),
 ('1969 Dodge Super Bee',),
 ('1917 Maxwell Touring Car',),
 ('1976 Ford Gran Torino',),
 ('1948 Porsche Type 356 Roadster',),
 ('1957 Vespa GS150',),
 ('1941 Chevrolet Special Deluxe Cabriolet',),
 ('1970 Triumph Spitfire',),
 ('1932 Alfa Romeo 8C2300 Spider Sport',),
 ('1904 Buick Runabout',),
 ('1940s Ford truck',),
 ('1939 Cadillac Limousine',),
 ('1957 Corvette Convertible',),
 ('1957 Ford Thunderbird',),
 ('1970 Chevy Chevelle SS 454',),
 ('1970 Dodge Coronet',),
 ('1997 BMW R 1100 S',),
 ('1966 Shelby Cobra 427 S/C',),
 ('1928 British Royal Navy Airplane',),
 ('1939 Chevrolet Deluxe Coupe',),
 ('1960 BSA Gold Star DBD34',),
 ('18th century schooner',),
 ('1938 Cadillac V-16 Presidential Limousine',),
 ('1962 Volkswagen Microbus',),
 ('1982 Ducati 900 Monster',),
 ('1949 Jaguar XK 120',),
 ('1958 Chevy Corvette Limited Edition',),
 ('1900s Vintage Bi-Plane',),
 ('1952 Citroen-15CV',),
 ('1982 Lamborghini Diablo',),
 ('1912 Ford Model T Delivery Wagon',),
 ('1969 Chevrolet Camaro Z28',),
 ('1971 Alpine Renault 1600s',),
 ('1937 Horch 930V Limousine',),
 ('2002 Chevy Corvette',),
 ('1940 Ford Delivery Sedan',),
 ('1956 Porsche 356A Coupe',),
 ('Corsair F4U ( Bird Cage)',),
 ('1936 Mercedes Benz 500k Roadster',),
 ('1992 Porsche Cayenne Turbo Silver',),
 ('1936 Chrysler Airflow',),
 ('1900s Vintage Tri-Plane',),
 ('1961 Chevrolet Impala',),
 ('1980â€™s GM Manhattan Express',),
 ('1997 BMW F650 ST',),
 ('1982 Ducati 996 R',),
 ('1954 Greyhound Scenicruiser',),
 ("1950's Chicago Surface Lines Streetcar",),
 ('1996 Peterbilt 379 Stake Bed with Outrigger',),
 ('1928 Ford Phaeton Deluxe',),
 ('1974 Ducati 350 Mk3 Desmo',),
 ('1930 Buick Marquette Phaeton',),
 ('Diamond T620 Semi-Skirted Tanker',),
 ('1962 City of Detroit Streetcar',),
 ('2002 Yamaha YZR M1',),
 ('The Schooner Bluenose',),
 ('American Airlines: B767-300',),
 ('The Mayflower',),
 ('HMS Bounty',),
 ('America West Airlines B757-200',),
 ('The USS Constitution Ship',),
 ('1982 Camaro Z28',),
 ('ATA: B757-300',),
 ('F/A 18 Hornet 1/72',),
 ('The Titanic',),
 ('The Queen Mary',),
 ('American Airlines: MD-11S',),
 ('Boeing X-32A JSF',),
 ('Pont Yacht',)]

## Level Up: Display the Number of Products each employee has sold

In [30]:
cur.execute('''SELECT employeeNumber, firstName, lastName, count(productCode) FROM employees 
               JOIN customers ON employees.employeeNumber = customers.salesRepEmployeeNumber
               JOIN orders USING(customerNumber) 
               JOIN orderdetails USING(orderNumber) 
               JOIN products USING(productCode)
               GROUP BY employeeNumber;''').fetchall()

[('1165', 'Leslie', 'Jennings', 331),
 ('1166', 'Leslie', 'Thompson', 114),
 ('1188', 'Julie', 'Firrelli', 124),
 ('1216', 'Steve', 'Patterson', 152),
 ('1286', 'Foon Yue', 'Tseng', 142),
 ('1323', 'George', 'Vanauf', 211),
 ('1337', 'Loui', 'Bondur', 177),
 ('1370', 'Gerard', 'Hernandez', 396),
 ('1401', 'Pamela', 'Castillo', 272),
 ('1501', 'Larry', 'Bott', 236),
 ('1504', 'Barry', 'Jones', 220),
 ('1611', 'Andy', 'Fixter', 185),
 ('1612', 'Peter', 'Marsh', 185),
 ('1621', 'Mami', 'Nishi', 137),
 ('1702', 'Martin', 'Gerard', 114)]

## Summary

Congrats! You practiced using join statements and leveraged your foreign keys knowledge!